.posts {
  margin-top: 2.5rem;

  li {
    + li {
      margin-top: 3rem;
    }
    &:hover {
      h2 {
        color: var(--highlight);
      }
    }
    &:last-child {
      margin-bottom: 4.5rem;
    }
    a {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      text-decoration: none;
      color: var(--gray);

      h2 {
        transition: color 0.2s ease-in-out;
        font-size: 1.75rem;
        margin-bottom: 0.5rem;
      }
    }
    .excerpt {
      font-size: 1.125rem;
    }
  }
}

.button {
  color: var(--highlight);
  font-size: 1.125rem;
  font-weight: 600;
  background: none;
  border: none;
  margin-bottom: 4.5rem;
  cursor: pointer;
  transition: filter 0.2s ease-in-out;

  &:hover,
  &:focus {
    filter: brightness(0.8);
  }
}
